<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メイン</title>
</head>
<body>
    <div>ログイン中：[[${name}]]</div>
    <h1>商品一覧</h1>
    <table border="1">
        <tr>
            <th>購入</th>
            <th>商品名</th>
            <th>価格</th>
            <th>説明</th>
        </tr>
        <tr th:each="product:${productList}">
            <td th:text="${product.isSale}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.taxOutPrice}"></td>
            <td th:text="${product.explanation}"></td>
        </tr>
    </table>
</body>
</html>