[mysqld]
default-authentication-plugin = mysql_native_password
host_cache_size=0
character-set-server = utf8mb4
collation-server = utf8mb4_bin

default-time-zone = 'Asia/Tokyo'
log_timestamps = SYSTEM

[mysql]
# 文字コードの設定
default-character-set = utf8mb4

[client]
# 文字コードの設定
default-character-set = utf8mb4
